In [45]:
import numpy as np
import pandas as pd
from numpy.linalg import norm

In [46]:
df= pd.read_csv('2d_pointcloud.txt', delimiter= ' ', skiprows=0)
print(df.shape)
display(df.head())
print(df.info())

(721, 4)

              x         y  z  intensity
0  1.093610e-16  1.786000  0   0.016068
1  7.757964e-03  1.777983  0   0.015991
2  1.554196e-02  1.780932  0   0.016114
3  2.332566e-02  1.781847  0   0.016098
4  3.130962e-02  1.793727  0   0.016510

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   x          721 non-null    float64
 1   y          721 non-null    float64
 2   z          721 non-null    int64
 3   intensity  721 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 22.7 KB
None

In [47]:
length= df.shape[0]
done= []
threshold= 0.001
max_inlier_count= -1
ground_line= []

In [ ]:
for i in range(length):
    for j in range (length):
        if j not in done:
            inlier_count= 0
            for k in range(length):
                p1= np.array([df.loc[i][0], df.loc[i][1]])
                p2= np.array([df.loc[j][0], df.loc[j][1]])
                p3= np.array([df.loc[k][0], df.loc[k][1]])
                d= np.cross(p2-p1, p3-p1) / norm(p2-p1)
                if d < threshold:
                    inlier_count+= 1
            if inlier_count > max_inlier_count:
                max_inlier_count= inlier_count
                ground_line= (p1, p2)
    done.append(i)

print(ground_line)

<ipython-input-48-71b46e1224ab>:9: RuntimeWarning: invalid value encountered in true_divide
  d= np.cross(p2-p1, p3-p1) / norm(p2-p1)

In [ ]:
p1= np.array([df.loc[0][0], df.loc[0][1]])
p2= np.array([df.loc[1][0], df.loc[1][1]])
p3= np.array([df.loc[2][0], df.loc[2][1]])
d= np.cross(p2-p1, p3-p1) / norm(p2-p1)
print(d)